@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Sintony:wght@400;700&display=swap');

$base-size: 16px;
$base-font: 'Poppins', sans-serif;
$display-font: 'Sintony', sans-serif;
$horizontal-container-padding: 4rem;
$screen-mobile: 480px;
$screen-tablet: 960px;

%container-centered {
  margin: 0 auto;
  max-width: 1280px;
}

%button-cta {
  border: none;
  font-family: $base-font;
  text-align: center;
  cursor: pointer;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  border-radius: 10rem;
  transition: 250ms;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.75;
  }
}

:root {
  font-size: $base-size;
  font-family: $base-font;
  @media screen and (max-width: $screen-tablet) {
    font-size: 14px;
  }
}

.navigation {
  background-color: #AAA;

  .navigation__container {
    padding: 1rem $horizontal-container-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %container-centered;
    @media screen and (max-width: $screen-mobile) {
      padding: 1rem 2rem;
    }
  }

  .navigation__burger {
    display: none;
    @media screen and (max-width: $screen-mobile) {
      display: flex;
      flex-direction: column;
      width: 2rem;
      height: 2rem;
      gap: .25rem;
      & > li {
        background-color: #333;
        flex: 1;
      }
    }
  }

  .navigation__logo {
    height: 5rem;
  }

  .navigation__elements {
    display: flex;
    gap: 1rem;
    @media screen and (max-width: $screen-mobile) {
      display: none;
    }
  }
}

#HERO {
  background: #CCC;

  .hero__container {
    display: flex;
    align-items: center;
    padding: 2rem $horizontal-container-padding;
    gap: 2rem;
    @extend %container-centered;
    @media screen and (max-width: $screen-tablet) {
      flex-direction: column-reverse;
    }
    @media screen and (max-width: $screen-mobile) {
      padding: 2rem 2rem;
    }
  }

  .hero__image {
    flex: 1;
    width: 60%;
    object-fit: cover;
    border-radius: 1rem;
    @media screen and (max-width: $screen-tablet) {
      width: 100%;
    }
  }

  .hero__top-text {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0.75rem;
  }

  .hero__title {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: $display-font;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
  
  .hero__description {
    line-height: 150%;
    margin-bottom: 1rem;
  }
  
  .hero__cta {
    @extend %button-cta;
    width: 100%;
  }
}

#ABOUT_CONTENT {
  .about-content__container {
    @extend %container-centered;
    padding: 4rem $horizontal-container-padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: $screen-mobile) {
      padding: 4rem 2rem;
    }
  }

  .about-content__logo {
    height: 5rem;
    width: 5rem;
    margin-bottom: 1rem;
  }

  .about-content__text {
    text-align: center;
    margin-bottom: 1rem;
    line-height: 150%;
  }
  
  .about-content__cta {
    @extend %button-cta;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #FFF;
  }
}

#PRODUCT_GRID {
  .product-grid__container {
    @extend %container-centered;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    padding: 2rem $horizontal-container-padding;
    @media screen and (max-width: $screen-tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: $screen-mobile) {
      grid-template-columns: repeat(1, 1fr);
      padding: 2rem 2rem;
    }
  }
  .product-grid__card {
    width: 100%;
    background-color: #DDD;
    border-radius: .5rem;
    overflow: hidden;
    transition: 250ms;
    cursor: pointer;
    &:hover {
      opacity: 0.75;
    }
  }

  .product-grid__card-image {
    width: 100%;
  }
  
  .product-grid__card-content {
    padding: .75rem 1rem;

    & > h3 {
      margin-bottom: .5rem;
      font-family: $display-font;
    }

    & > p {
      font-weight: 700;
    }
  }
}
