@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Sintony:wght@400;700&display=swap");
#PRODUCT_GRID .product-grid__container, #ABOUT_CONTENT .about-content__container, #HERO .hero__container, .navigation .navigation__container {
  margin: 0 auto;
  max-width: 1280px;
}

#ABOUT_CONTENT .about-content__cta, #HERO .hero__cta {
  border: none;
  font-family: "Poppins", sans-serif;
  text-align: center;
  cursor: pointer;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  border-radius: 10rem;
  transition: 250ms;
}
#ABOUT_CONTENT .about-content__cta:hover, #HERO .hero__cta:hover {
  opacity: 0.5;
}
#ABOUT_CONTENT .about-content__cta:active, #HERO .hero__cta:active {
  opacity: 0.75;
}

:root {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
@media screen and (max-width: 960px) {
  :root {
    font-size: 14px;
  }
}

.navigation {
  background-color: #AAA;
}
.navigation .navigation__container {
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .navigation .navigation__container {
    padding: 1rem 2rem;
  }
}
.navigation .navigation__burger {
  display: none;
}
@media screen and (max-width: 480px) {
  .navigation .navigation__burger {
    display: flex;
    flex-direction: column;
    width: 2rem;
    height: 2rem;
    gap: 0.25rem;
  }
  .navigation .navigation__burger > li {
    background-color: #333;
    flex: 1;
  }
}
.navigation .navigation__logo {
  height: 5rem;
}
.navigation .navigation__elements {
  display: flex;
  gap: 1rem;
}
@media screen and (max-width: 480px) {
  .navigation .navigation__elements {
    display: none;
  }
}

#HERO {
  background: #CCC;
}
#HERO .hero__container {
  display: flex;
  align-items: center;
  padding: 2rem 4rem;
  gap: 2rem;
}
@media screen and (max-width: 960px) {
  #HERO .hero__container {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 480px) {
  #HERO .hero__container {
    padding: 2rem 2rem;
  }
}
#HERO .hero__image {
  flex: 1;
  width: 60%;
  object-fit: cover;
  border-radius: 1rem;
}
@media screen and (max-width: 960px) {
  #HERO .hero__image {
    width: 100%;
  }
}
#HERO .hero__top-text {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.75rem;
}
#HERO .hero__title {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Sintony", sans-serif;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
#HERO .hero__description {
  line-height: 150%;
  margin-bottom: 1rem;
}
#HERO .hero__cta {
  width: 100%;
}

#ABOUT_CONTENT .about-content__container {
  padding: 4rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 480px) {
  #ABOUT_CONTENT .about-content__container {
    padding: 4rem 2rem;
  }
}
#ABOUT_CONTENT .about-content__logo {
  height: 5rem;
  width: 5rem;
  margin-bottom: 1rem;
}
#ABOUT_CONTENT .about-content__text {
  text-align: center;
  margin-bottom: 1rem;
  line-height: 150%;
}
#ABOUT_CONTENT .about-content__cta {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #FFF;
}

#PRODUCT_GRID .product-grid__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  padding: 2rem 4rem;
}
@media screen and (max-width: 960px) {
  #PRODUCT_GRID .product-grid__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 480px) {
  #PRODUCT_GRID .product-grid__container {
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem 2rem;
  }
}
#PRODUCT_GRID .product-grid__card {
  width: 100%;
  background-color: #DDD;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: 250ms;
  cursor: pointer;
}
#PRODUCT_GRID .product-grid__card:hover {
  opacity: 0.75;
}
#PRODUCT_GRID .product-grid__card-image {
  width: 100%;
}
#PRODUCT_GRID .product-grid__card-content {
  padding: 0.75rem 1rem;
}
#PRODUCT_GRID .product-grid__card-content > h3 {
  margin-bottom: 0.5rem;
  font-family: "Sintony", sans-serif;
}
#PRODUCT_GRID .product-grid__card-content > p {
  font-weight: 700;
}

/*# sourceMappingURL=styles.css.map */
