@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Sintony:wght@400;700&display=swap');

:root {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.navigation {
  background-color: #AAA;
}

.navigation__container {
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1280px;
}

.navigation__burger {
  display: none;
}

.navigation__logo {
  height: 5rem;
}

.navigation__elements {
  display: flex;
  gap: 1rem;
}

#HERO {
  background: #CCC;
}

.hero__container {
  display: flex;
  align-items: center;
  padding: 2rem 4rem;
  gap: 2rem;
  margin: 0 auto;
  max-width: 1280px;
}

.hero__image {
  flex: 1;
  width: 60%;
  object-fit: cover;
  border-radius: 1rem;
}

.hero__top-text {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.hero__title {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Sintony', sans-serif;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.hero__description {
  line-height: 150%;
  margin-bottom: 1rem;
}

.hero__cta {
  border: none;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  width: 100%;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  border-radius: 10rem;
  transition: 250ms;
  cursor: pointer;
}

.hero__cta:hover {
  opacity: 0.5;
}

.hero__cta:active {
  opacity: 0.75;
}

.about-content__container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 4rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-content__logo {
  height: 5rem;
  width: 5rem;
  margin-bottom: 1rem;
}

.about-content__text {
  text-align: center;
  margin-bottom: 1rem;
  line-height: 150%;
}

.about-content__cta {
  border: none;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #FFF;
  font-size: 1rem;
  border-radius: 10rem;
  transition: 250ms;
  cursor: pointer;
}

.product-grid__container {
  margin: 0 auto;
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  padding: 2rem 4rem;
}

.product-grid__card {
  width: 100%;
  background-color: #DDD;
  border-radius: .5rem;
  overflow: hidden;
  transition: 250ms;
  cursor: pointer;
}

.product-grid__card:hover {
  opacity: 0.75;
}

.product-grid__card-image {
  width: 100%;
}

.product-grid__card-content {
  padding: .75rem 1rem;
}

.product-grid__card-content > h3 {
  margin-bottom: .5rem;
  font-family: 'Sintony', sans-serif;
}

.product-grid__card-content > p {
  font-weight: 700;
}

@media screen and (max-width: 960px) {
  :root {
    font-size: 14px;
  }

  .hero__container {
    flex-direction: column-reverse;
  }

  .hero__image {
    width: 100%;
  }

  .product-grid__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .navigation__elements {
    display: none;
  }

  .navigation__burger {
    display: flex;
    flex-direction: column;
    width: 2rem;
    height: 2rem;
    gap: .25rem;
  }

  .navigation__burger > li {
    background-color: #333;
    flex: 1;
  }

  .product-grid__container {
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem 2rem;
  }

  .about-content__container {
    padding: 4rem 2rem;
  }

  .hero__container {
    padding: 2rem 2rem;
  }

  .navigation__container {
    padding: 1rem 2rem;
  }
}